.paginationContainer {
  margin: 5% auto;
  height: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  padding: 20px 14px;
}

.paginationButton {
  height: 40px;
  width: 40px;
  padding: 8px;
  border-radius: 1000px;
  color: var(--dark-blue-accent-000);
  cursor: pointer;
  border: 1px solid var(--dark-blue-accent-000);

}

.pageNumbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 20px 14px;
  height: 100%;
}

._inactive {
  cursor: not-allowed;
}

.pageNumber {
  height: 50px;
  width: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border-radius: 1000px;
  border: 1px solid var(--secondary-text-color);

  font-size: var(--font-size-13);
  color: var(--secondary-text-color);
  font-weight: var(--font-weight-medium);
}

.pageNumber:hover {
  background: var(--orange-accent-500);
  border: none;
  color: var(--white-accent-100);
}

.pageNumber:active {
  background: var(--orange-accent-400);
  border: none;
  color: var(--white-accent-100);
}

.currentPage {
  background: var(--orange-accent-200);
  color: white;
  border: 1px solid var(--orange-accent-200);
}