.success_feedback {
    background: var(--green-accent-900);
    color: white;
    width: 300px;
    padding: 20px;
    min-height: 30px;
    border-radius: 5px;
    box-shadow: var(--shadow-200);
    
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

.icon_ill {
    width: 35px;
}