.primaryButton {
  all: unset;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding-inline: 1em;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  background-color: var(--orange-accent-400);
  color: #fff;
  min-width: max-content;
  height: 50px;
}

.primaryButton:disabled {
  opacity: 0.5;
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}