.footer_wrapper {
  background: #FFF6F1;
  padding: 4em;
  display: flex;
  justify-content: space-between;

  color: var(--dark-blue-accent-300);
  font-weight: var(--font-weight-semibold);
}

.link_to_mail {
  margin-left: 5px;
  text-decoration: underline;
}